---
layout: layouts/base.njk
permalink: /home-improvement/
---



<div class="page-bg page-bg-home-improvement">
	<h1>Home Improvement</h1>
	<h2>Ready to Take Your Home From Simple to Stunning?</h2>
</div><!-- end page bg -->
<div class="container">
	<div class="row justify-content-between pb-5 border-bottom mb-5">
		<div class="col-md-5">
			<p>We are in the business of turning ordinary houses into dream homes. We handle:</p>

			<ul>
				<li>Floor installation</li>
				<li>Drywall repair</li>
				<li>Interior and exterior painting</li>
				<li>Soffit and fascia repair</li>
				<li>Minor home exterior repair</li>
				<li>Major home exterior repair</li>
				<li>Water damage repair</li>
				<li>Deck building</li>
				<li>Fence construction</li>
			</ul>

			<p>When you contact us, we’ll discuss your ideas until we have a feel for your vision. Then, we’ll schedule your home improvement service at your earliest convenience.</p>

			<p>Call 903-748-2665 to be one step closer to getting the home of your dreams.</p>
		</div>



		<div class="col-md-6">
			<img src="/images/home-improvement-main-image.jpg" alt="landscaping" class="img-fluid">
		</div><!-- end col -->
	</div><!-- end row -->




	<div class="text-center pb-5">
		<h2>Exceptional Work at a Reasonable Rate</h2>
		<p>At DirtyWorks Home Services, we won’t charge you an arm and a leg to transform your home. We deliver outstanding results at a price you can feel good about. You can trust our professionals to bring your perfect home to life.</p>

		<p>Call 903-748-2665 now to get a free estimate on your home improvement service.</p>
	</div><!-- end text center -->

</div><!-- end container -->


{% include '_includes/booking-bar.njk' %}
