---
layout: layouts/base.njk
permalink: /landscaping-service/
---



<div class="page-bg page-bg-landscaping">
	<h1>Landscaping</h1>
	<h2>Get a Personalized Backyard Paradise for Your Home</h2>
</div><!-- end page bg -->
<div class="container">
	<div class="row justify-content-between pb-5 border-bottom mb-5">
		<div class="col-md-5">
			<p>Stop fawning over the gorgeous landscapes in gardening catalogs and hire DirtyWorks Home Services to create one for you. Not only can we design your landscape from scratch, we can also:</p>

			<ul>
				<li>Trim your trees</li>
				<li>Construct a concrete or stone retaining wall, walkway, outdoor kitchen or patio</li>
				<li>Build a porch, deck or pergola</li>
				<li>Install a fence</li>
				<li>Plant trees</li>
			</ul>

			<p>Once we’ve completed your project, you’ll have an outdoor oasis where you can spend time with family and friends – or enjoy some well-deserved alone time.</p>

			<p>Dial 903-748-2665 now to get a free estimate on your landscaping service in Texarkana, TX &amp; Texarkana, AR.</p>
		</div><!-- end col -->



		<div class="col-md-6">
			<img src="/images/lawn-care-main-image.jpg" alt="landscaping" class="img-fluid">
		</div><!-- end col -->
	</div><!-- end row -->




	<div class="text-center pb-5">
		<h2>We'll find out what we're working with first</h2>
		<p>During our first conversation, we’ll schedule a time to visit your home and determine what we can do for your yard. Then, the DirtyWorks Home Services team will return on schedule to create your perfect landscape. Before you know it, you can start enjoying your new and improved lawn.</p>

		<p>Call us today to schedule a landscaping consultation at your Texarkana, TX & Texarkana, AR home.</p>
	</div><!-- end text center -->

</div><!-- end container -->


{% include '_includes/booking-bar.njk' %}
