---
layout: layouts/base.njk
permalink: /remodeling-service/
---



<div class="page-bg page-bg-remodel">
	<h1>Home Remodeling</h1>
	<h2>Build a Better Living Space</h2>
</div><!-- end page bg -->
<div class="container">
	<div class="row justify-content-between pb-5 border-bottom mb-5">
		<div class="col-md-5">
			<p>Are you less than satisfied with the current look of your home? Request remodeling services today. There’s no remodeling job too tough for us to handle. We can:</p>

			<ul>
				<li>Redesign your kitchen, basement or bathroom</li>
				<li>Install new flooring</li>
				<li>Repair your drywall</li>
				<li>Add new cabinets and countertops</li>
				<li>Paint your home</li>
			</ul>

			<p>Whether you want to replace a few features or renovate an entire room, you can trust us to bring your remodeling ideas to life.</p>

			<p>Call 903-748-2665 to be one step closer to getting the home of your dreams.</p>
		</div>



		<div class="col-md-6">
			<img src="/images/remodelling-main-image.jpg" alt="home remodeling" class="img-fluid">
		</div><!-- end col -->
	</div><!-- end row -->




	<div class="text-center pb-5">
		<h2>Want to add another room or feature to your home?</h2>
		<p>We also build home additions. We can construct any room you want, including a garage, bedroom, kitchen or bathroom. Our team can also build a deck, porch, shed or sunroof, per your request. You’ll fall in love with your home again once we’ve finished remodeling it.</p>

		<p>Call 903-748-2665 now to get a free estimate on your home remodeling service.</p>
	</div><!-- end text center -->

</div><!-- end container -->


{% include '_includes/booking-bar.njk' %}
