<div class="secondary-footer py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 order-md-12 mb-5">

				<form name="dirty-works-contact"
					  netlify
					  netlify-honeypot="testing-input"
					  method="POST">

					<div class="form-group">
						<label for="formName">Name</label>
						<input type="text" class="form-control" id="formName" name="name">
					</div><!-- end form group -->

					<div class="form-group">
						<label for="formEmail">Email</label>
						<input type="text" class="form-control" id="formEmail" name="email">
					</div><!-- end form group -->

					<div class="form-group">
						<label for="formMessage">How can we help you?</label>
						<textarea class="form-control" id="formMessage" rows="4" name="message"></textarea>
					</div><!-- end form group -->

					<div class="d-none">
						<label for="testing-input" class="sr-only">Testing Input</label>
						<input type="text"
							   name="testing-input"
							   id="testing-input"
							   placeholder="Video URL">
					</div><!-- end from group -->

					<div class="form-group">
						<button type="submit" class="btn btn-success font-weight-bold btn-lg">Send</button>
					</div><!-- end form group -->
				</form>

			</div><!-- end col -->

			<div class="col-md-6 order-md-1">
				<div class="fb-page" data-href="https://www.facebook.com/Dirtyworkshomeservices/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Dirtyworkshomeservices/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Dirtyworkshomeservices/">DirtyWorks Home Services</a></blockquote></div>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end secondary footer -->






<div id="fb-root"></div>

<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=150440841736202';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>








<footer class="text-center py-5 border-top">
	<div class="container">
		<p>Copyright &copy; {% dateYear %} DirtyWorks Home Services, all rights reserved.</p>
		<p>Texarkana, TX 75501 <a href="tel:903-748-2665">903-748-2665</a></p>

		<p>Website built by <a href="https://www.brewhouse.digital/?source=dirtyworkshs" target="_blank">Brewhouse Digital, LLC</a></p>
	</div><!-- end container -->
</footer>










<!-- custom mobile modal -->
<div class="modal fade" id="mobile-navigation-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center justify-content-center flex-wrap">
				<h2 class="col-12">Dirty Works</h2>
				<p class="col-12">Home Services</p>
			</div>
			<div class="modal-body">
				{% include '_includes/nav-links.njk' %}
			</div><!-- end body -->
		</div><!-- end content -->
	</div><!-- end dialog -->
</div><!-- end modal -->
