<a href="/" class="btn">Home</a>

<div class="d-xl-inline-block d-none">
	<div class="dropdown">
		<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="/landscaping-service/">Landscaping Services</a>
			<a class="dropdown-item" href="/lawn-maintenance/">Lawn Maintenance</a>
			<a class="dropdown-item" href="/home-improvement/">Home Improvement</a>
			<a class="dropdown-item" href="/remodeling-service/">Remodeling Service</a>
		</div>
	</div>
</div><!-- end desktop dropdown -->

<div class="d-xl-none">
	<a class="btn" href="/landscaping-service/">Landscaping Services</a>
	<a class="btn" href="/lawn-maintenance/">Lawn Maintenance</a>
	<a class="btn" href="/home-improvement/">Home Improvement</a>
	<a class="btn" href="/remodeling-service/">Remodeling Service</a>

	<a href="https://www.facebook.com/job_opening/845930285901022/?source=website" class="btn" target="_blank">Work With Us</a>
</div><!-- end mobile dropdown -->

<a href="/our-work/" class="btn">Our Work</a>
<a href="/contact-us/" class="btn">Contact</a>
