---
layout: layouts/base.njk
permalink: /
---


<div class="homepage-header-bg">
	<div class="homepage-header-bg-subnav">
		<div class="container">
			<div class="row text-center justify-content-center">
				<div class="col-lg col-md-6 col-12">
					<a href="/landscaping-service/" class="btn">Landscaping Service</a>
				</div><!-- end col -->

				<div class="col-lg col-md-6 col-12">
					<a href="/lawn-maintenance/" class="btn">Lawn Maintenance</a>
				</div><!-- end col -->

				<div class="col-lg col-md-6 col-12">
					<a href="/home-improvement/" class="btn">Home Improvement</a>
				</div><!-- end col -->

				<div class="col-lg col-md-6 col-12">
					<a href="/remodeling-service/" class="btn">Remodeling Service</a>
				</div><!-- end col -->

				<div class="col-lg col-md-6 col-12">
					<a href="https://www.facebook.com/job_opening/845930285901022/?source=website" class="btn" target="_blank">Work With Us</a>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end sub nav -->

	<div class="homepage-header-bg-content">
		<h2>Change Your Home</h2>
		<p>Change Your Life</p>
		<div><a href="/contact-us/" class="btn btn-success btn-lg">Book Now</a></div>
	</div><!-- end content -->
</div><!-- end header bg -->


<div class="homepage-about-us green-box">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<p class="green-box-title">Welcome to <br>DirtyWorks Home Services</p>
			</div><!-- end col -->

			<div class="col-md-6">
				<p>DirtyWorks Home Services has been providing homeowners in the Texarkana, TX &amp; Texarkana, AR area with outstanding home improvement and landscaping services since May of 2010. When you contact us, we’ll give you a free estimate so you’ll know how to budget your project. You’ll be pleasantly surprised by how affordable our services can be.</p>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end about us -->


<div class="homepage-footer text-center">
	<div class="container">
		<h2 class="mb-5">Making Dream Homes a Reality</h2>

		<div class="row">
			<div class="col-md-4 mb-md-0 mb-5">
				<div class="homepage-steps-icons"><i class="fal fa-comment-dots"></i></div>
				<p class="homepage-footer-title">1. Consulting &amp; Design</p>
				<p>We meet with you to discuss the vision you have.</p>
			</div><!-- end col -->

			<div class="col-md-4 mb-md-0 mb-5">
				<div class="homepage-steps-icons"><i class="fal fa-check-circle"></i></div>
				<p class="homepage-footer-title">2. The Build</p>
				<p>Once a design has been finalized, the next step is installation.</p>
			</div><!-- end col -->

			<div class="col-md-4 mb-md-0 mb-5">
				<div class="homepage-steps-icons"><i class="fal fa-sun"></i></div>
				<p class="homepage-footer-title">3. Maintenance</p>
				<p>Our team will arrive to ensure your home will look beautiful all year round.</p>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end footer -->
